{% extends "godkids/base.html" %}

{% block content %}



<body>


    <table class="table table-bordered">
        <thead>
            
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Residence</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
           
            <tr>
                <td>{{kid.name}}</td>
                <td>{{kid.age}}</td>
                <td>{{kid.residence_state}}</td>
                <td>{{kid.gender}}</td>


            </tr>
          
        </tbody>
    </table>
    <a href="{% url 'godkids:index'%}">Back</a>
</body>


{% endblock %}